<div class="padding" ng-controller="MenuController">
  <super-navbar>
  <super-navbar-button id="menuButton" side="left" onclick="supersonic.ui.drawers.open()">&#9776;</super-navbar-button>
    <super-navbar-title>CrowdStorm</super-navbar-title>
  <super-navbar-button id="createForm" side="right" ng-click="newIdea()">&#10010;</super-navbar-button>
  </super-navbar>


  <div class="list card feed">
  <div class="item item-avatar feed_1">
    <div class="container">
      <div class="row user_info">
        <div class="col-sm-2">
           <img id="user_img"src="https://bholanauthj.files.wordpress.com/2015/06/business-intelligence-icon.png"
           > 
           <!-- user img will retrieve from database, show default image if the user didn't upload -->
        </div>
        <div class="col-sm-10" >
          <p class="user_name">Marty McFly</p>
          <p class="time">12:00 PM</p> 
        </div>
      </div> <!-- .user-info .row  -->
      </div>
       <p id="idea_title"> Some text about the main idea of the pitch.
       </p>
    </div>
    <!-- <div class="item item-body"> -->
      <div class="comment row">
        <a href="#" class="subdued col-sm-3">1  &#128077; Like</a>
        <a href="#" class="subdued col-sm-3">5 Comments</a>
        <a href="#" class="subdued col-sm-3">1 Join</a>
        <a href="#" class="subdued col-sm-3">5 Share</a>
      </div>
    <!-- </div>
   -->
</div>

  <super-navigate view-id="using-the-scanner">
    <button class="button button-block button-positive icon-left super-wand">Using the AppGyver Scanner</button>
  </super-navigate>
  <p id="reddy">I'm red</p>
  <super-navigate view-id="learn-more">
    <button class="button button-block button-positive icon-left super-university">Learn more</button>
  </super-navigate>

  <h2>Get in touch with us!</h2>

  <p>Feel free to contact us at <a href="mailto:contact@appgyver.com">contact@appgyver.com</a>, we would love to get your feedback!</p>

</div>
