/*Styling for NEW.html*/
.add-new-idea{
	border-left: 0 !important;
	border-right: 0 !important;
	width: 100% !important;
	margin-right: 0 !important;
	margin-left: 0 !important;
	margin-top: 4px;
}
textarea{
	font-family: "Times New Roman", Times, serif !important;
	font-style: normal;
}
#add-new-idea-dscrp{
	height: 250px;
}
#add-new-idea-title{
	height: 80px;
}
#user_img_new{
	width: 40px;
	height: 40px;
	margin-bottom: 4px;
	margin-left: 3%;
	margin-top: 8px;
}
label .item ,label.item-input ,label.item-stacked-label{
border-left: 0;
border-right: 0;
margin-right: 0;
}
/*Tags*/
.tag{
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 20px;
}
#plus_btn{
	background-color:#4e2a84 !important;
	border-radius: 0;
	height: 40px;
	width: 30px;
	min-width: 40px !important;
	min-height: 30px !important;
	text-align: center;
	line-height: 3px;
	margin-right: 16px;


}
.dropdown_tags{
	width: 80%;
	height: 40px;
	text-align: center;
}
.selectedTags{
	text-align: center;
}

.showTags{
	margin-top: 20px;
}
.selectedTags{
	background-color: #4e2a84;
	opacity:0.8;
	padding:4px 0 4px 4px;
	color: white;
	margin-right:4px;
}
.save_btn{
	background-color:#4e2a84 !important;
	color: white;
	border: none;
	border-radius: 0;
}

.remove_btn{
	background-color: #260984;
	z-index: 2;
	padding: 3px; 
	line-height: 0px;
}

