/*index.html*/
body{
	overflow-x: hidden;
}
a:active{
	color: #23527c;
}
/*.padding{
	overflow: scroll;
	padding-left: 0;
	padding-right: 0;
}*/

#user_img{
	max-width:40px;
	max-height:40px;
}
.user_name, .time{
	padding-right: 2%;	
}

.user_name{
	color: #3b5998 !important;
	width: 150%;
	height: 30px;

}
.time{
	color:#9197a3 !important;
	font:15px  !important;
}
.vote{
	width: 60%;
}
.upvoete{
	width: 30%;

}
.downvote{
	width: 30%;
	padding-left: 10px;
}
#votes{
	width: 40%;
	text-align: center;
}
.super-chevron-down{
	padding-right: 15px !important;
	padding-right: 15px !important;
}
.col-sm-2{
	width: 17%;
}
.col-sm-10{
	width: 50%; 
}
.col-sm-4{
	padding-left: 0;
}
.upvoete{
	float: left;
}

#idea_title{
	height: 40px;
	width: auto;
	position: relative;
	left: 3%;
	margin-right: 4%;
}
.feed, .feed_1{
padding:5px !important;
box-shadow: none;
background-color: #f5f5f5 ;
}

/*.comment is the row of "likes, comment, join"*/

.comment{ 
	text-align: left;
	padding-left: 9%;
}

.comment_user_img{
	max-width: 130%;
}
#comments{
	margin-top: 10px;
	background-color: #f5f5f5;
}
#comment-input{
	width: 155%;
	margin-left: 0;
}

#submit {
	float:right;
	margin-right: -50%;
	margin-top: 10px;
}
/*+++++++++++Add new idea view+++++++++++++++++*/

.add-new-idea{
	border-left: 0 !important;
	border-right: 0 !important;
	width: 100% !important;
	margin-right: 0 !important;
	margin-left: 0 !important;
	margin-top: 4px;
}
input{
	font-family: "Times New Roman", Times, serif;
	font-style: normal;
}
#add-new-idea-dscrp{
	height: 100px;

}
#user_img_new{
	width: 40px;
	height: 40px;
	margin-bottom: 4px;
	margin-left: 3%;
}
label .item ,label.item-input ,label.item-stacked-label{
border-left: 0;
border-right: 0;
margin-right: 0;
}



/*idea detail and comment page*/
.list:last-child.card{

	margin-bottom:2px;
}
.idea-detail{
	width: 100%;
	box-shadow: 1px 1px 1px #888888;
}
h2 #ideal-detail-title{
	font-size: 16px !important;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}