
a:hover{
cursor: pointer;
}

.padding{
	overflow: scroll;
}
.container{
	padding: 0;
}
.ideaItem {
color: black;
text-align: left;
}

.ideaItem .title {
color: black;
font-size: 1.5em;
}

.ideaItem .votes {
color:red;
}

#user_img{
	max-width:40px;
	max-height:40px;
}
.user_name, .time{
	padding-right: 2%;
	
}

.user_name{
	color: #3b5998 !important;
	width: 80%;
}
.time{
	color:#9197a3 !important;
	font:15px  !important;
}
.col-sm-2{
	width: 17%;
	/*padding-left: 0;*/
}
.col-sm-10{
	width: 70%; 
}
.col-sm-4{
	padding-left: 0;
}

#idea_title{
	height: 40px;
	width: auto;
	position: relative;
	left: 3%;
	margin-right: 4%;
}
.feed, .feed_1{
padding:5px !important;
box-shadow: none;
background-color: #f5f5f5 ;
}
/*.comment is the row of "likes, comment, join"*/
.comment{ 
text-align: center;
padding-left: 9%;
}

.comment_user_img{
	max-width: 130%;
}
.comments{
	background-color: #f5f5f5 ;
}
#comment-input{
	width: 155%;
	margin-left: 0;
}

#submit {
	float:right;
	margin-right: -50%;
	margin-top: 10px;
}