.container{
	padding: 0;
}
.ideaItem {
color: black;
text-align: left;
}

.ideaItem .title {
color: black;
font-size: 1.5em;
}

.ideaItem .votes {
color:red;
}


.user_name, .time{
	/*padding-left: 2%;*/
	overflow: visible;
}

#user_img{
	max-width:180%;
	max-height:180%;
}
.user_name{
	color: #3b5998 !important;
}
.time{
	color:#9197a3 !important;
	font:15px  !important;
}
.col-sm-2{
	width: 17%;
}
.feed, .feed_1{
padding:5px !important;
box-shadow: none;
background-color: #f5f5f5 ;
}

.comment{
text-align: center;
padding-left: 9%;
}

.comment_user_img{
	max-width: 130%;
}
.comments{
	background-color: #f5f5f5 ;
}
#comment-input{
	width: 155%;
	margin-left: 0;
}
.row{
	margin:0;
	/*padding: 0;*/
}

#submit {
	float:right;
	margin-right: -50%;
	margin-top: 10px;
}