<img id="user_img_new"src="https://bholanauthj.files.wordpress.com/2015/06/business-intelligence-icon.png">
  
<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Title</span>
    <input type="text" placeholder="What's your idea?" ng-model="idea['title']" required>
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label" >Summary</span>
    <input type="text" placeholder="Give a brief hint of your awesome idea:" ng-model="idea['summary']" required>
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">Idea Description</span>
    <input id = "add-new-idea-dscrp"type="text" placeholder="A more elaborate description of the idea:" ng-model="idea['desc']" required>
  </label>
  

  <br>

  <button class="button button-block button-positive">Save</button>

</div>
