<style type="text/css">
  .upvote {

  }


</style>

<div ng-controller="IndexController">
  <super-navbar>
  <super-navbar-button id="menuButton" side="left" onclick="supersonic.ui.drawers.open()">&#9776;</super-navbar-button>
    <super-navbar-title>CrowdStorm</super-navbar-title>
  <super-navbar-button id="createForm" side="right" ng-click="newIdea()">&#10010;</super-navbar-button>
  </super-navbar>

  <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner">
    <ul class="list" ng-hide="ideas.length == 0">

      <div ng-repeat="idea in ideas">
        
          <div class="list card feed">
            <div class="item item-avatar feed_1">
              <super-navigate data-params-id="{{idea.id}}" location="idea#show">
                <div class="container">
                  <div class="row user_info">
                    <div class="col-sm-2">
                       <img id="user_img"src="https://bholanauthj.files.wordpress.com/2015/06/business-intelligence-icon.png"> 
                       <!-- user img will retrieve from database, show default image if the user didn't upload -->
                    </div>
                    <div class="col-sm-10" >
                      <p class="user_name">{{idea.title}}</p>
                      <p class="time">Joe McDoe 12:00pm 3/4/5</p> 
                    </div>
                  </div> <!-- .user-info .row  -->
                  </div>
                   <p id="idea_title">{{idea.summary}}</p>
                   <!-- <a href="#" class="subdued col-sm-3">Share</a> -->
                </div>
              </super-navigate>
              <!-- <div class="item item-body"> -->
                <div class="comment row">
                  <a href="#" ng-click="like(idea.id)" class="subdued col-sm-3 ">{{idea.likes}} Likes</a>
                  <a href="#" ng-click="comment(idea.id)" class="subdued col-sm-3 ">{{idea.comments}} Comments</a>
                  <a href="#" ng-click="storm(idea.id)" class="subdued col-sm-3 ">{{idea.storms}} Joined the Storm</a>
                  
                </div>
              </div>
            
          </div>
      </div>
    </ul>

    <h4 ng-show="ideas.length == 0" class="assertive padding">
      No ideas found. Create one?
    </h4>

    
  </div>
</div>

