<div ng-controller="IndexController">
  <super-navbar>
  <super-navbar-button id="menuButton" side="left" onclick="supersonic.ui.drawers.open()">&#9776;</super-navbar-button>
    <super-navbar-title ng-bind ='viewTitle'></super-navbar-title>
  <super-navbar-button id="createForm" side="right" ng-click="newIdea()">&#10010;New</super-navbar-button>
  </super-navbar>

  <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner">
    <ul class="list">
      <div ng-repeat="idea in ideas | orderBy:'-date' track by $index" ng-show="idea.show">
          <div class="list card feed">
            <div class="item item-avatar feed_1">
              <super-navigate data-params-id="{{idea.$id}}" location="idea#show">
                <div class="container">
                  <div class="row user_info">
                    <div class="col-sm-2">
                       <img id="user_img"src="https://bholanauthj.files.wordpress.com/2015/06/business-intelligence-icon.png">
                       <!-- user img will retrieve from database, show default image if the user didn't upload -->
                    </div>
                    <div class="col-sm-10">
                      <p class="user_name">{{idea.title}}</p>
                      <p class="time">
                        {{idea.date}}
                      </p>
                    </div>
                  </div>
                </div>
                   <p id="idea_title">{{idea.desc}}</p>
                   <div class="home_tags">
                     <span class="idea_tag" ng-repeat="tag in idea.tags|limitTo:5">{{tag}}</span>
                     <span ng-show="idea.tags.length>5"id="extraTags" style="color:#4e2a84">...</span>
                   </div>

              </super-navigate>
              </div>

                <div class="comment row">
                  <span class="vote">
                    <a href="#" ng-click="upvote(idea.$id)" class="subdued upvote">
                      <i class="icon super-chevron-up"></i>
                    </a>
                    <span id = "upvotes" ng-style="upvoted">{{idea.upvotes}}</span>
                      <a href="#" ng-click="downvote(idea.$id)" class="subdued downvote">
                        <i class="icon super-chevron-down"></i>
                      </a>
                      <span id = "downvotes"  ng-style="downvoted">{{idea.downvotes}}</span>
                    </span>
                    <super-navigate data-params-id="{{idea.$id}}" location="idea#show">
                      <span class="contribute"><img style="height:14px;width:auto; margin-right:5px; vertical-align:text-top;"src="http://www.tlu.ee/~kpata/prolearn/icons/comment.png" alt=""/><b>Join the Storm</b></span>
                    </super-navigate>

                </div>
              </div>
          </div>
        </ul>
    </div>
</div>
