<script>
  document.addEventListener("touchmove", function(e){
    e.preventDefault();
  });
</script>

<style>
  li {
    /*color: #4e2a84 !important;*/
    text-align: center;
  }
  #homy {
    color:white !important;
    background-color: #4e2a84 !important;
    padding-right:40px;
  }

  #tags {
    text-align: left;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 5px;
    color: #4e2a84;
    font-size: 1.2em;
  }

  .tagzilla:hover {
    color:white !important;
    background-color: #4e2a84 !important;
  }
</style>
<ul ng-controller="drawerController" class="list">
	<li class="item" id="homy" ng-click="reset()"><img style="height:20px; width:auto; vertical-align:text-top;margin-right:5px;" src="http://findicons.com/files/icons/1389/g5_system/32/toolbar_home.png" alt="" />Home</li>
  <!-- <super-navigate location="idea#new">
	<li class="item" onclick="supersonic.ui.drawers.close()">Create</li>
  </super-navigate> -->
  <li id="tags">Search by tag:</li>
  <li class="item tagzilla" ng-repeat="tag in tagList" ng-click="changeTag(tag)">{{tag}}</li>
</ul>
