<div ng-controller="ShowController">
  <super-navbar>
    <super-navbar-title>
      {{idea['title']}}
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner">

      <div class="idea-detail">
        <div class="container">
          <h2 ng-bind="idea['title']" id ="idea-detail-title"></h2>
          <p>{{idea.desc}}</p>

          <p>{{idea.id}}</p>
        </div>
      </div>
      
      <div class="container" >
        <div class="comments row">
          <div class="col-sm-2">
            <img class="comment_user_img"src="https://bholanauthj.files.wordpress.com/2015/06/business-intelligence-icon.png"> 
         </div>
         <div class="col-sm-10">
           <input type="text" id="comment-input">
           <button id="submit" ng-click="addComment()">Submit comment</button>
         </div>
       </div>
      </div>

      <div id="comments">
        <div class="comment" ng-repeat="comment in comments track by $index">
          <p>{{comments[$index]}}</p>
        </div>

      </div>

      <!-- <super-modal-show location="idea#edit?id={{ idea.id }}">
        <button class="button button-block button-positive">
          Edit
        </button>
      </super-modal-show>

      <button ng-click="remove(idea.id)" class="button button-block button-negative">
        Remove
      </button> -->
    </div>
  </div>
</div>
