<div ng-controller="ShowController">
  <super-navbar>
    <super-navbar-title>
      CrowdStorm
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner">
      <h2 ng-bind="idea['title']"></h2>
      <p>{{idea.desc}}</p>
      
      <p>{{idea.id}}</p>
      <div class="comments">
        <div class="comment" ng-repeat="comment in comments track by $index">
          <p>{{comments[$index]}}</p>
        </div>


      </div>

      <button id="com" ng-click="addComment()">weweifojweoifjew</button>
      <super-modal-show location="idea#edit?id={{ idea.id }}">
        <button class="button button-block button-positive">
          Edit
        </button>
      </super-modal-show>

      <button ng-click="remove(idea.id)" class="button button-block button-negative">
        Remove
      </button>
    </div>
  </div>
</div>
